<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<div th:fragment="footer">
  <footer class="qb-footer">
    <div sec:authorize="isAuthenticated()" class="user-info">
      Logged in as <strong sec:authentication="name"></strong>
      &nbsp;·&nbsp;<a th:href="@{/logout}">Sign Out</a>
    </div>
    <div>🍕 QuickBite &copy; 2026 &mdash; Fresh food, fast delivery</div>
  </footer>
</div>

</body>
</html>
