<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="pagination">
  <div class="qb-pagination" th:with="baseUrl=${URLparameter}">

    <span th:if="${pager.indexOutOfBounds()}">
      Page out of bounds &mdash;
      <a th:href="@{${baseUrl}(page=1)}">Go to Menu</a>
    </span>

    <span th:unless="${pager.indexOutOfBounds()}">
      <a th:if="${pager.hasPrevious()}" th:href="@{${baseUrl}(page=1)}">&laquo; First</a>
      <a th:if="${pager.hasPrevious()}" th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}">‹ Prev</a>
      <span th:if="${pager.getTotalPages() != 1}"
            th:text="'Page ' + ${pager.getPageIndex()} + ' / ' + ${pager.getTotalPages()}"></span>
      <a th:if="${pager.hasNext()}" th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}">Next ›</a>
      <a th:if="${pager.hasNext()}" th:href="@{${baseUrl}(page=${pager.getTotalPages()})}">Last &raquo;</a>
    </span>

  </div>
</div>

</body>
</html>
